<div *ngIf="data.length > 0">
  <nz-table #filterTable [nzData]="data"
            [nzPageSize]="pageSize"
            nzTableLayout="fixed">
    <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
      >
        {{ column.name }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.heroes.length }}</td>
      <td>{{ data.itemsSize }}</td>
      <td>{{ data.earn }}</td>
    </tr>
    </tbody>
  </nz-table>
</div>