<div class="g-scroll-y" *ngIf="data.length > 0">
  <nz-table #filterTable
            [nzPageSize]="pageSize"
            [nzData]="data" nzTableLayout="fixed">
    <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
      >
        {{ column.name }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>
        <a (click)="gotoHeroDetails(data.id)">{{data.id}}</a>
      </td>
      <td>
        {{ data.uniqName }}
      </td>
      <td>{{ data.stats.level }}</td>
      <td>{{ data.score }}</td>
      <td>{{ data.items.length }}</td>
      <td>{{ data.dungeonCount }}</td>
      <td>{{ data.battleCount }}</td>
      <td>{{ data.eventCount }}</td>
      <td>{{ data.storyCount }}</td>

    </tr>
    </tbody>
  </nz-table>
</div>