<div class="controls g-flex-column__item-fixed g-flex g-flex--align-center g-flex--wrap">
  <div class="id-item g-flex-column g-flex--align-start">
    <nz-form-label>
      ID
    </nz-form-label>
    <div class="search-item g-flex">
      <input type="text" nz-input [(ngModel)]="id" />
      <button nz-button nzType="primary">Search</button>
    </div>
  </div>
</div>
<div>
  <nz-descriptions nzTitle="Info" nzBordered>
    <nz-descriptions-item nzTitle="Name">Cloud Database</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Created At" [nzSpan]="2">2018-04-24 18:00:00 To 2019-04-24 18:00:00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Dungeon quantity">20</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Items">12</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Last Fight" [nzSpan]="2">
      2018-04-24 18:00:00 To 2019-04-24 18:00:00
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Biome">3</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Staked">False</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Dead">False</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Level">12</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Experience"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Life"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Mana"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Life chances"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Score"></nz-descriptions-item>

  </nz-descriptions>
</div>