<div class="controls g-flex-column__item-fixed g-flex g-flex--align-center g-flex--wrap">
  <div class="id-item g-flex-column g-flex--align-start">
    <nz-form-label>
      ID
    </nz-form-label>
    <div class="search-item g-flex">
      <input type="text" nz-input [(ngModel)]="id" />
      <button nz-button nzType="primary">Search</button>
    </div>
  </div>
</div>
<div class="container">
  <nz-spin
    *ngIf="isLoading; else loaded"
    class="loader g-flex-column__item-fixed">
  </nz-spin>
  <ng-template #loaded>
    <div *ngIf="data">
      <nz-descriptions nzTitle="Info" nzBordered>
        <nz-descriptions-item nzTitle="Name">{{data.uniqName}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Created At" [nzSpan]="2">{{(+data.timestamp * 1000) | date:'yyyy-MM-ddTHH:mm:ss' }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Items">{{data.items.length}}</nz-descriptions-item>
        <!--    <nz-descriptions-item nzTitle="Last Fight" [nzSpan]="2">-->
        <!--      2018-04-24 18:00:00 To 2019-04-24 18:00:00-->
        <!--    </nz-descriptions-item>-->
        <nz-descriptions-item nzTitle="Biome">{{data.biome}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Staked">{{data.staked}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Dead">{{data.dead}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Level">{{data.stats.level}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Experience">{{data.stats.experience}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Life">{{data.stats.life}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Mana">{{data.stats.mana}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Life chances">{{data.stats.lifeChances}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Score">{{data.score}}</nz-descriptions-item>

      </nz-descriptions>
    </div>
  </ng-template>
</div>
