<div class="g-scroll-y" *ngIf="data.length > 0">
  <nz-table #filterTable
            [nzPageSize]="pageSize"
            [nzData]="data" nzTableLayout="fixed">
    <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
      >
        {{ column.name }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>
        {{ data.id }}
      </td>
      <td>{{ data.score}}</td>
      <td>{{ data.augmentationLevel}}</td>
      <td>{{ data.rarity}}</td>
      <td>{{ data.augmentedCount}}</td>
      <td>{{ data.repairedCount}}</td>
      <td>{{ data.destroyedCount}}</td>

    </tr>
    </tbody>
  </nz-table>
</div>