<nz-layout>
  <nz-sider
    nzCollapsible
    nzBreakpoint="lg"
    [nzWidth]="250"
    [nzCollapsedWidth]="0">
    <div class="g-flex g-flex--align-center g-flex--justify-center">
      <i
        class="logo"
        nz-icon
        nzType="sacra-logo-icon">
      </i>
    </div>

    <ul
      nz-menu
      nzTheme="light"
      nzMode="inline">
      <ng-container *ngFor="let itemKey of menuItemsKeys">
        <!--[nzIcon]="MENU[itemKey].icon"-->
        <li
          *ngIf="MENU_ITEMS[itemKey].subMenu; else topLevelItemsTpl"
          [nzTitle]="MENU_ITEMS[itemKey].label"
          nz-submenu>
          <ul>
            <ng-container *ngFor="let subItemKey of getSubMenuKeys(itemKey)">
              <!--queryParamsHandling="merge"-->
              <li
                nz-menu-item
                [nzMatchRouter]="true"
                [routerLink]="MAIN_ROUTES_ITEMS[subItemKey]"
                queryParamsHandling="merge">
                <span>
                  {{ MENU_ITEMS[itemKey].subMenu[subItemKey].label }}
                </span>
              </li>
            </ng-container>
          </ul>
        </li>

        <ng-template #topLevelItemsTpl>
          <li
            nz-menu-item
            [nzMatchRouter]="true"
            [routerLink]="MAIN_ROUTES_ITEMS[itemKey]"
            queryParamsHandling="merge">
            <span>
              {{ MENU_ITEMS[itemKey].label }}
            </span>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </nz-sider>

  <nz-layout class="g-scroll-y">
    <nz-content class="g-flex-column">
      <header class="header g-flex-column__item-fixed g-flex g-flex--align-center g-flex--space-between">
        <div class="header-content g-flex g-flex--align-center">
          <div class="header__title">
            Dashboard
          </div>
        </div>

        <div class="network g-flex g-flex--align-center">
          <form nz-form [formGroup]="form">
            <nz-form-item>
              <nz-form-label [nzSpan]="50" nzFor="network">Network</nz-form-label>
              <nz-form-control [nzSpan]="20">
                <nz-select
                  id="network"
                  formControlName="network"
                  (ngModelChange)="networkChange($event)"
                >
                  <nz-option nzValue="mumbai" nzLabel="Mumbai"></nz-option>
                  <nz-option nzValue="sepolia" nzLabel="Sepolia"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
        <div class="g-flex g-flex--align-center">
          <div class="theme__title">
            Theme:
          </div>

          <nz-switch
            class="theme__switch"
            [nzCheckedChildren]="checkedTemplate"
            [nzUnCheckedChildren]="unCheckedTemplate"
            [formControl]="themeControl">
          </nz-switch>

          <ng-template #checkedTemplate>
            <i
              nz-icon
              nzType="sun-icon">
            </i>
          </ng-template>

          <ng-template #unCheckedTemplate>
            <i
              nz-icon
              nzType="moon-icon">
            </i>
          </ng-template>
        </div>
      </header>

      <main class="main g-flex-column__item g-flex-column ">
        <router-outlet #outlet="outlet">
        </router-outlet>
      </main>

      <div
        *ngIf="!outlet.isActivated"
        class="loader">
        <nz-spin></nz-spin>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
