<nz-spin
  *ngIf="isLoading; else loaded"
  class="loader g-flex-column__item-fixed">
</nz-spin>
<ng-template #loaded>
  <div class="btn">
    <button
      nz-button
      nzType="default"
      (click)="exportCsv()">
      Export to CSV
    </button>
  </div>
  <nz-table #basicTable [nzData]="tableData" [nzBordered]="true" [nzShowPagination]="false" [nzPageSize]="tableData.length">
    <thead>
    <tr>
      <th *ngFor="let column of columns" [nzSortFn]="column.compare">{{ column.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of basicTable.data">
      <td>{{ item.name }}</td>
      <td [ngStyle]="getStyle(item.count, 1)">{{ item.count }}</td>
      <td [ngStyle]="getStyle(item.burned, 2)">{{ item.burned }}</td>
      <td [ngStyle]="getStyle(item.exist, 3)">{{ item.exist }}</td>
      <td [ngStyle]="getPercentageStyle(+item.burnedPercent)">{{ item.burnedPercent | number:'1.2-2' }}%</td>
      <td [ngStyle]="getStyle(item.itemsInPawnshop, 5)">{{item.itemsInPawnshop}}</td>
      <td [ngStyle]="getPercentageStyle(+item.itemsInPawnshopPercent)">{{ item.itemsInPawnshopPercent | number:'1.2-2' }}%</td>
      <td [ngStyle]="getStyle(item.flurPrice, 7)">{{ item.flurPrice }}</td>
      <td [ngStyle]="getStyle(item.biome, 8)">{{item.biome}}</td>
      <td>{{item.rarity}}</td>
      <td [ngStyle]="getStyle(+item.sumCost, 10)">{{ item.sumCost }}</td>
      <td [ngStyle]="getStyle(+item.sumCostPawnshop, 11)">{{ item.sumCostPawnshop }}</td>
    </tr>
    </tbody>
  </nz-table>
</ng-template>