<nz-spin
  *ngIf="isLoading; else loaded"
  class="loader g-flex-column__item-fixed">
</nz-spin>
<ng-template #loaded>
  <h3>
    Total users: {{totalUsers}}
  </h3>
  <h3>
    Total players (finished 1 dungeon): {{totalPlayers}}
  </h3>
  <h3>
    Total profit players: {{totalProfitPlayers}} ({{((totalProfitPlayers/totalPlayers) * 100).toFixed(2)}}%)
  </h3>
  <h3>
    Users not finished dungeon, but have hero: {{usersNotFinishDung}}
  </h3>

  <nz-table #filterTable [nzData]="tokenBalances"
            [nzPageSize]="pageSize"
            nzTableLayout="fixed">
    <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
      >
        {{ column.name }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.address }}</td>
      <td>{{ data.fromPool + " ~(" + data.fromPoolUsd + "$)" }}</td>
      <td>{{ data.toPool + " ~(" + data.toPoolUsd + "$)" }}</td>
      <td>{{ data.earned + "$" }}</td>
      <td>{{ data.fromDungeon }}</td>
      <td>{{ data.reinforcement }}</td>
      <td>{{ data.fromPawnshop }}</td>
      <td>{{ data.toPawnshop }}</td>
      <td>{{ data.other }}</td>
    </tr>
    </tbody>
  </nz-table>
</ng-template>